[Unit]
Description=OpenSearch
Wants=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/opensearch-dashboards-1.0.1

User=opensearch
Group=opensearch

ExecStart=/opt/opensearch-dashboards-1.0.1/bin/opensearch-dashboards
